<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/design.css">
    <!-- Bootstrap -->
  	<!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Display Found Item</title>
    <style>
    body {
      background: #333;
      color: white;
      font-size: 25px;

    }
    </style>

    <script type="text/javascript">
    function func()
    {
      var username=           // Local storage se name lana hai
      $('#spanId').text(username);
    }

    </script>

</head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
          <div class="logo">
            <img src="logo.jpg" height="100" width="100">
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

                <ul class="nav navbar-nav" id="u">

                  <li class="active"><a href="/index">Home </a></li>
                  <li class="active"><a href="/aboutUs">About</a></li>
                  <li class="active"><a href="/stories">Stories</a></li>
                  <li class="active"><a href="/contact">Contact</a></li>
                  <li class="active"><a href="/help">Help</a></li>
                </ul>
              </ul>
                </div>
              </div>
            </nav>
    <br>
    <br><br>
    <br><br>
    <br>

                            <h1 ALIGN=CENTER><B>Our Motto</B></h1>
                            <p ALIGN=CENTER>“Where lost is found!”</p>
<br>
<br>
                           <h2 ALIGN=CENTER><B>Our Vision</B></h2>
                          <p ALIGN=CENTER>
                          To ensure every item of lost property is matched and sent back to its lawful owner as quickly and as efficiently as possible. Create an innovative and constantly evolving online ecosystem to enable losers of property to be matched to finders of property for free.
                        </p>
                        <br>
                        <br>

                    <h2 ALIGN=CENTER><B>Achieving our vision</B></h2>
                        <p ALIGN=CENTER>
                            Our vision is to provide the largest and most efficient service which delivers the best possible service so our clients and customers trust us with their digital lives.
                      </p>




</body>
</html>
