<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap -->
  	<!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Lost Items</title>
</head>
<body class="bg-primary">
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
/*   $(document).ready(function(){
     $("#b1").on("click",function(){
       $("#d1").toggle()
     });
     $("#b2").on("click",function()
     {
       $("#d2").toggle("slow")
     });
     $("#d3").on("mouseleave",function()
     {
        $(this).fadeTo("slow",0.5)
     });
     $("#d2").on("mouseenter",function()
     {
        $(this).slideDown("slow")
     });
     $("#d1").on(
     {
         mouseenter: function(){
             $(this).css("background-color", "lightgray");
         },
         mouseleave: function(){
             $(this).css("background-color", "lightblue");
         },
         click: function(){
             $(this).css("background-color", "yellow");
         }
     });
     $("#d1").slideUp(2000,function(){
     	$(this).slideDown(2000,function(){
     		$(this).fadeOut(2000)
     	})
     })
    });
   $(function(){
        $.getJSON("http://pokeapi.co/api/v2/pokemon/pikachu", function(data){
        	var statArr = data.stats;
            for(var i = 0 ;i<statArr.length;i++){
                var name = statArr[i].stat.name;
                var value = statArr[i].base_stat;
                var tData = "<tr><td>"+name+"</td><td>"+value+"</td></tr>"
                console.log(name+" :"+value);
                $("#t1").append(tData);
            }
        });
    });*/
$(function(){
           $("#b").on("click",function(){
             var rec= $('#r').val();
             var ing= $('#i').val();
             //console.log(rec);
             //console.log(ing);
             var link="http://www.recipepuppy.com/api/?i="+ing+"&q="+rec;
             $.getJSON(link, function(data){
               var recipeArr = data.results;
                  for(var i = 0 ;i<recipeArr.length;i++){

                      var name="Recipe "+(i+1);

                      var title = recipeArr[i].title;
                      var ing = recipeArr[i].ingredients;
                      var url = recipeArr[i].href;
                      var pic = recipeArr[i].thumbnail;
                      var tData = "<tr><td><img src="+pic+" height=100 width=100></img></td><td>"+name+" "+title+"<br>Ingredients: "+ing+"</td></tr>"
                      //console.log(title+" :"+ing);
                      $("#t2").append(tData);
                    }
                    });
          });
      });
          // })

      /*  $.getJSON("http://www.recipepuppy.com/api/", function(data){
         var recipeArr = data.results;
            for(var i = 0 ;i<recipeArr.length;i++){
                var title = recipeArr[i].title;
                var ing = recipeArr[i].ingredients;
                var tData = "<tr><td>"+title+"</td><td>"+ing+"</td></tr>"
                console.log(title+" :"+ing);
                $("#t2").append(tData);
            }
        });
    });*/



    </script>
</body>
</html>
